<div class="tw-w-full tw-bg-white tw-p-4">
    <div class="tw-flex">
        <span class="tw-text-3xl tw-font-bold tw-text-[#454545] tw-my-5">ข้อมูลโปรโมชั่นสินค้า</span>
    </div>
    <div class="tw-flex tw-justify-between tw-items-center">
        <mat-form-field class="example-full-width tw-flex tw-flex-row" appearance="outline">
            <mat-label>ค้นหาข้อมูลโปรโมชั่น</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <!-- (keyup)='serviceListFilter($event)' -->
            <input type="search" class="tw-text-xs" placeholder="ค้นหาข้อมูลโปรโมชั่น" matInput>
        </mat-form-field>
    </div>
</div>