<div class="tw-w-full tw-bg-white tw-p-4">
    <div class="tw-container">
        <div class="tw-flex">
            <span class="tw-text-3xl tw-font-bold tw-text-[#454545] tw-my-5">ข้อมูลสาขา</span>
        </div>
        <div class="tw-flex tw-justify-between tw-items-center">
            <button
                class="btn tw-px-3 tw-py-2 tw-m-0 tw-rounded-md tw-w-40 tw-border-0 tw-bg-green-500 tw-text-white tw-font-normal tw-select-none"
                (click)="openModal(template)">
                <i class="fa-solid fa-user-plus"></i>เพิ่มข้อมูล
            </button>
            <!-- <mat-form-field class="example-full-width tw-flex tw-flex-row" appearance="outline">
          <mat-label>ค้นหาข้อมูลลูกค้า</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input type="search" (keyup)='serviceListFilter($event)' class="tw-text-xs" placeholder="ค้นหาเลขสมาชิกและชื่อลูกค้า" matInput>
        </mat-form-field> -->
        </div>
    </div>
</div>
<div class="wrap-body">
    <div class="container">
        <ngx-datatable #mydatatable class="bootstrap" [headerHeight]="50" [limit]="10" [columnMode]="ColumnMode.force"
            [footerHeight]="50" [rowHeight]="50" [rows]="rows" [loadingIndicator]="isLoading" [externalPaging]="true"
            [count]="branchsPagination.length" [offset]="branchsPagination.page" [limit]="branchsPagination.size"
            (page)="setPage($event)" (sort)="sorting($event)">
            <ngx-datatable-column name="" [width]="50" [canAutoResize]="false" [sortable]="false"
                [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <img src="./assets/icons/edit.png" (click)="openModal(template, row)" width="25px" height="25px" />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="" [width]="50" [canAutoResize]="false" [sortable]="false"
                [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <img src="./assets/icons/del.png" (click)="delete(row)" width="25px" height="25px" />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="#" [canAutoResize]="false" [sortable]="false" [width]="50"
                [cellClass]="'cellColumn'">
                <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{ rowIndex + 1 }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="รหัสสาขา" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.branchCode }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ชื่อสาขาภาษาอังกฤษ" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.branchNameEng }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ชื่อสาขาภาษาไทย" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.branchNameTh }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="วันที่เพิ่มข้อมูล" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.createdTime | dateTHPipe: 'day' }}<br />
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

<!--Modal-->
<ng-template #template>
    <div class="modal-header">
        <h4 *ngIf="!isAddMode" class="modal-title pull-left">เพิ่มข้อมูลพนักงาน</h4>
        <h4 *ngIf="isAddMode" class="modal-title pull-left">แก้ไขข้อมูลพนักงาน</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form" [formGroup]="branchForm" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            <mat-form-field class="tw-w-full tw-mb-3" appearance="outline">
                <mat-label>รหัสสาขา</mat-label>
                <input type="text" matInput placeholder="กรุณาใส่รหัสสาขา" id="branch_code" name="branch_code"
                    [formControlName]="'branch_code'">
                <mat-error *ngIf="branchForm.get('branch_code').hasError('required')">
                    <div class="box-error">
                        กรุณากรอกรหัสสาขา
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="tw-w-full tw-mb-3" appearance="outline">
                <mat-label>ชื่อสาขาภาษาอังกฤษ</mat-label>
                <input type="text" matInput placeholder="กรุณาใส่ชื่อสาขาภาษาอังกฤษ" id="branch_name_eng"
                    name="branch_name_eng" [formControlName]="'branch_name_eng'">
                <mat-error *ngIf="branchForm.get('branch_name_eng').hasError('required')">
                    <div class="box-error">
                        กรุณากรอกชื่อสาขาภาษาอังกฤษ
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="tw-w-full tw-mb-3" appearance="outline">
                <mat-label>ชื่อสาขาภาษาไทย</mat-label>
                <input type="text" matInput placeholder="กรุณาใส่ชื่อสาขาภาษาไทย" id="branch_name_th"
                    name="branch_name_th" [formControlName]="'branch_name_th'">
                <mat-error *ngIf="branchForm.get('branch_name_th').hasError('required')">
                    <div class="box-error">
                        กรุณากรอกชื่อสาขาภาษาไทย
                    </div>
                </mat-error>
            </mat-form-field>
            <div class="modal-footer">
                <button class="btn btn-save" type="submit">บันทึก</button>
                <a class="btn btn-cancel" (click)="modalRef.hide()">ปิด</a>
            </div>
        </form>
    </div>
</ng-template>