<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="square-jelly-box">
    <p style="color: white"> โปรดรอสักครู่... </p>
</ngx-spinner>
<!-- ========== START PAGE TITLE ========== -->
<div class="d-flex justify-content-between align-items-center cpagetitle">
    <div class="p-2">
        <div class="card-title">
            <h3 class="cl-default">จัดการข้อมูลผู้ใช้งาน</h3>
        </div>
    </div>
    <div class="p-2">
        <a [routerLink]="['']" routerLinkActive="router-link-active"
            class="btn btn-primary btn-icon-left cbtn-default font-name">
            <i class="fa fa-plus" aria-hidden="true"></i> เพิ่ม
        </a>
    </div>
</div>
<!-- ========== END PAGE TITLE ========== -->