<div class="tw-w-full tw-bg-white tw-p-4">
    <div class="tw-flex">
        <span class="tw-text-2xl tw-font-bold tw-text-[#454545] tw-my-5">รายการตัดคอร์ส</span>
    </div>
    <div class="tw-flex tw-justify-between tw-items-center" [ngSwitch]="sale_cut_count">
        <button *ngSwitchCase="saleCount"
            class="btn tw-px-3 tw-py-2 tw-m-0 tw-rounded-md tw-w-40 tw-border-0 tw-bg-red-500 tw-text-white tw-font-normal tw-select-none"
            (click)="openModal(template)">
            <i class="fa-solid fa-lock"></i>ปิดคอร์ส
        </button>
        <button *ngSwitchDefault
            class="btn tw-px-3 tw-py-2 tw-m-0 tw-rounded-md tw-w-40 tw-border-0 tw-bg-green-500 tw-text-white tw-font-normal tw-select-none"
            (click)="openModal(template)">
            <i class="fa-solid fa-scissors"></i>ตัดคอร์ส
        </button>
    </div>
</div>
<div class="wrap-body">
    <div class="container">
        <ngx-datatable #mydatatable class="bootstrap" [headerHeight]="50" [limit]="5" [columnMode]="ColumnMode.force"
            [footerHeight]="50" rowHeight="auto" [rows]="rows">
            <!-- <ngx-datatable-column name="#" [canAutoResize]="false" [sortable]="false" [width]="50"
                [cellClass]="'cellColumn'">
                <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{ rowIndex + 1 }}
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="ครั้งที่" [cellClass]="'cellColumn'" [canAutoResize]="false" [sortable]="false"
                [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <b class="tw-text-center">{{row?.sale_cut_count}}</b>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="วิตามิน" [cellClass]="'cellColumn'" [canAutoResize]="false" [sortable]="false"
                [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.sale_cut_vitamin}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="มาร์ค" [cellClass]="'cellColumn'" [canAutoResize]="false" [sortable]="false"
                [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.sale_cut_mark }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="พนักงานนวด" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{getNameEmployee(row?.sale_cut_therapist)}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="หมอ" [cellClass]="'cellColumn'" [canAutoResize]="false" [sortable]="false"
                [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.sale_cut_doctor }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ยอดรวมล่าสุด" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.sale_cut_pay_balance }}<br />
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="ยอดชำระล่าสุด" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.sale_cut_pay }}<br />
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="ยอดคงเหลือ" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.sale_cut_overdue }}<br />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="รายละเอียด" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.sale_cut_detail }}<br />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="วันที่บันทึกข้อมูล" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.createdTime | dateTHPipe: 'day' }}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">บันทึกรายการคอร์ส</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form" [formGroup]="salecutForm" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            <div class="tw-flex tw-flex-wrap">
                <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
                    <mat-label>จำนวนครั้ง</mat-label>
                    <input type="number" matInput id="sale_cut_count" name="sale_cut_count"
                        [formControlName]="'sale_cut_count'">

                </mat-form-field>

                <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
                    <mat-label>วิตามิน</mat-label>
                    <input type="text" matInput id="sale_cut_vitamin" name="sale_cut_vitamin"
                        [formControlName]="'sale_cut_vitamin'">
                </mat-form-field>

                <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
                    <mat-label>มาร์ค</mat-label>
                    <input type="text" matInput id="sale_cut_mark" name="sale_cut_mark"
                        [formControlName]="'sale_cut_mark'">

                </mat-form-field>
                <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
                    <mat-label>พนักงานนวดหน้า</mat-label>
                    <mat-select [formControlName]="'sale_cut_therapist'" id="sale_cut_therapist"
                        name="sale_cut_therapist">
                        <ng-container *ngFor="let item of (employes$ | async)">
                            <mat-option *ngIf="item.empPosition == 3" [value]="item.empId">
                                {{item.empFullname}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
                    <mat-label>หมอ</mat-label>
                    <mat-select [formControlName]="'sale_cut_doctor'" id="sale_cut_doctor" name="sale_cut_doctor">
                        <mat-option *ngFor="let item of Docter" [value]="item.name">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
                    <mat-label>ยอดค้างชำระ</mat-label>
                    <input type="number" matInput id="sale_cut_pay" name="sale_cut_pay"
                        [formControlName]="'sale_cut_pay_balance'">

                </mat-form-field>

                <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
                    <mat-label>ยอดรับชำระ</mat-label>
                    <input type="number" matInput id="sale_cut_overdue" name="sale_cut_overdue"
                        [formControlName]="'sale_cut_pay'">

                </mat-form-field>

                <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
                    <mat-label>ยอดคงเหลือ</mat-label>
                    <input type="number" matInput id="sale_cut_product" name="sale_cut_product"
                        [formControlName]="'sale_cut_overdue'">
                </mat-form-field>

                <mat-form-field class="tw-px-2 tw-mb-3 example-full-width tw-w-full" appearance="outline">
                    <mat-label>รายละเอียด</mat-label>
                    <textarea matInput placeholder="Ex. 100 Main St"
                        [formControlName]="'sale_cut_detail'">1600 Amphitheatre Pkwy</textarea>
                </mat-form-field>

            </div>
            <div class="modal-footer">
                <button class="btn btn-save" type="submit">บันทึก</button>
                <a class="btn btn-cancel layout" (click)="ModalList.hide()">ปิด</a>
            </div>
        </form>
    </div>

</ng-template>