<div class="tw-w-full tw-bg-white tw-p-4">
  <div class="tw-container">
    <div class="tw-flex tw-flex-row tw-items-center">
      <div class="">
        <span class="tw-text-xl tw-font-bold tw-text-[#454545] tw-my-2">ข้อมูลการใช้บริการ</span>
      </div>
      <div class="tw-my-2 tw-mx-2 " *ngFor="let item of cusDataArray">
        <span class="tw-mx-2 tw-text-lg tw-font-bold tw-text-[#454545]">ชื่อ: {{item.cusFullName}}</span>
        <ng-container [ngSwitch]="item.cusBranch">
          <span *ngSwitchCase="1" class="tw-text-lg tw-font-bold tw-text-[#454545]">รหัสบัตรสมาชิก:
            zeer{{item.cusMember}}</span>
          <span *ngSwitchCase="2" class="tw-text-lg tw-font-bold tw-text-[#454545]">รหัสบัตรสมาชิก:
            NKS{{item.cusMember}}</span>
          <span *ngSwitchCase="3" class="tw-text-lg tw-font-bold tw-text-[#454545]">รหัสบัตรสมาชิก:
            PCB{{item.cusMember}}</span>
        </ng-container>
      </div>
    </div>

    <div class="tw-flex tw-justify-between tw-items-center">
      <button mat-flat-button class=" tw-bg-green-500 tw-text-white" (click)="openModal(template)">
        <i class="fa-solid fa-user-plus tw-mr-2"></i>เพิ่มข้อมูลคอร์ส
      </button>
      <!-- <mat-form-field class="example-full-width tw-flex tw-flex-row" appearance="outline">
        <mat-label>ค้นหาข้อมูลลูกค้า</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input type="search"  class="tw-text-xs" placeholder="ค้นหาเลขเอกสารและชื่อลูกค้า" matInput>
      </mat-form-field> -->
    </div>
  </div>
</div>
<div class="wrap-body">
  <ngx-datatable #myTable class="material striped expandable" [rows]="rows" [groupRowsBy]="'saleNumber'"
    [columnMode]="ColumnMode.force" [headerHeight]="60" [footerHeight]="60" [rowHeight]="60" [limit]="4"
    [groupExpansionDefault]="true">
    <ngx-datatable-group-header [rowHeight]="70" #myGroupHeader>
      <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
        <div class="tw-flex tw-flex-row tw-items-center tw-p-3">
          <div class="tw-basis-1/4 tw-border-r-2">
            <div class="tw-flex tw-items-center  tw-mb-1.5">
              <span class="tw-text-lg tw-font-semibold tw-rounded-md tw-mr-3">
                เลขที่เอกสาร : {{group.value[0].saleNumber}}</span>
              <button mat-flat-button extended color="warn"
                *ngIf="this.positionMain != 'user' && group.value[0].saleStatus != 'I'"
                (click)="openModalConfrimDelete(confrimdelete, group.value[0])">
                <mat-icon>delete</mat-icon>
                ลบคอร์ส
              </button>
            </div>
            <div class="tw-flex tw-items-center tw-mb-2">
              <b>พนักงาน : {{group.value[0].empFullname}}</b>
            </div>
          </div>
          <div class="tw-basis-1/2">
            <div class="tw-flex tw-flex-col tw-mx-2 tw-p-2">
              <div class="tw-flex  tw-mb-1.5">
                <span class="tw-text-base tw-font-semibold tw-rounded-md tw-mr-3">
                  ยอดชำระ:
                  {{group.value[0].saleBalance}}
                </span>

                <div class="tw-mb-2" *ngIf="group.value[0].saleExtraPay == null">
                  <span class="tw-text-base tw-font-semibold tw-rounded-md tw-mr-3">จ่าย:
                    {{group.value[0].salePayment}}</span>
                  <span class="tw-text-base tw-font-semibold tw-rounded-md tw-mr-3">คงค้างชำระ:
                    {{group.value[0].saleOverdue}}</span>
                </div>

                <div class="tw-mb-2" *ngIf="group.value[0].saleExtraPay !== null">
                  <span class="tw-text-base tw-font-semibold tw-rounded-md tw-mr-3">จ่าย:
                    {{group.value[0].saleExtraPay}}</span>
                  <span class="tw-text-base tw-font-semibold tw-rounded-md tw-mr-3">คงค้างชำระ:
                    {{group.value[0].saleBalance - group.value[0].saleExtraPay}} </span>
                </div>

                <span class="tw-text-base tw-font-semibold tw-rounded-md tw-mr-3">
                  รายละเอียด :
                  <b class="tw-text-red-500">{{group.value[0].saleDetail}}</b>
                </span>

              </div>

              <div
                *ngIf="group.value[0].saleExtraPay == null && group.value[0].saleBalance != group.value[0].salePayment && group.value[0].saleStatus != 'I'">
                <button mat-flat-button class="tw-bg-green-500 tw-text-white tw-mr-1"
                  (click)="openModalPayment(payment, group.value[0])">
                  <mat-icon>attach_money</mat-icon>
                  ชำระเพิ่ม
                </button>
              </div>

              <div
                *ngIf="group.value[0].saleExtraPay != group.value[0].salePayOver && group.value[0].saleBalance - group.value[0].saleExtraPay !== 0 && group.value[0].saleStatus != 'I'">
                <button mat-flat-button [matMenuTriggerFor]="menu" class=" tw-text-white tw-ml-1 tw-bg-blue-500">
                  <mat-icon> monetization_on</mat-icon>
                  ชำระเงินและประวัติ
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="openModalPayment(payment, group.value[0])">
                    <mat-icon>attach_money</mat-icon>
                    ชำระเพิ่ม
                  </button>
                  <button mat-menu-item (click)="openModalHistoryPayment(historypayment, group.value[0])">
                    <mat-icon>apps</mat-icon>
                    ประวัติการชำระเงิน
                  </button>
                </mat-menu>
              </div>

              <!-- <div
                *ngIf="group.value[0].saleExtraPay == group.value[0].salePayOver && group.value[0].saleExtraPay != null ">
                <button mat-flat-button color="primary"
                  (click)="openModalHistoryPayment(historypayment, group.value[0])">ประวัติการชำระเงิน</button>
              </div> -->

              <div
                *ngIf="group.value[0].saleBalance - group.value[0].saleExtraPay == 0 || group.value[0].saleStatus == 'I'">
                <button mat-flat-button color="primary"
                  (click)="openModalHistoryPayment(historypayment, group.value[0])">
                  <mat-icon>apps</mat-icon>
                  ประวัติการชำระเงิน
                </button>
              </div>

            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-group-header>
    <ngx-datatable-column name="คอร์ส" editable="true" frozenLeft="True" [flexGrow]="2">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
        let-group="group">
        <b>{{row.courseNameTh}} : ({{row?.courseCode}})</b>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="จำนวนทั้งหมด" editable="true" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
        let-group="group">
        <div>
          จำนวน
          <b class="tw-text-lg tw-font-bold">{{ row?.saleCount }}</b>
          ครั้ง
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ใช้ไปทั้งหมด" editable="true" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
        let-group="group">
        <div class="tw-flex tw-items-center" *ngIf="row?.saleCutCount == null">
          <b class="tw-text-base tw-font-bold tw-text-green-600" *ngIf="row?.saleStatus != 'I'">ยังไม่เริ่มใช้บริการ</b>
          <div *ngIf="row?.saleStatus == 'I'">
            <b class="tw-text-base tw-font-bold tw-text-red-600">{{row?.saleCutDownDetail}}</b>
          </div>
        </div>
        <div class="tw-flex tw-items-center" *ngIf="row?.saleCutCount !== null">
          <div *ngIf="row?.saleStatus != 'I'">
            <div *ngIf="row.saleCount != row.saleCutCount">
              ใช้ไป
              <b class="tw-text-lg tw-font-bold">{{ row?.saleCutCount }}</b>
              ครั้ง
            </div>
            <div *ngIf="row.saleCount == row.saleCutCount">
              <b class="tw-text-base tw-font-bold tw-text-red-500">ใช้บริการครบจำนวนครั้ง</b>
            </div>
          </div>
          <div *ngIf="row?.saleStatus == 'I'">
            <b class="tw-text-base tw-font-bold tw-text-red-600">{{row?.saleCutDownDetail}}</b>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="" [sortable]="false" [cellClass]="'cellColumn'" [flexGrow]="3">
      <ng-template class="text-center" let-row="row" ngx-datatable-cell-template>
        <div class="tw-flex">
          <div *ngIf="row.saleCount != row.saleCutCount && row.saleStatus != 'I'">
            <button mat-flat-button [matMenuTriggerFor]="menu" class=" tw-text-white tw-ml-1 tw-bg-yellow-500">
              <mat-icon> bubble_chart</mat-icon>
              ตัดคอร์ส
            </button>
            <button mat-flat-button class=" tw-text-white tw-ml-1 tw-bg-red-500"
              (click)="openModalCutDown(cutdown, row)">
              <mat-icon>timer_off</mat-icon>
              คัสดาวน์
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="openModalCutCourse(cutcourse,row)">
                <mat-icon> scatter_plot</mat-icon>
                ตัดคอร์ส
              </button>
              <button mat-menu-item (click)="openModalHistoryCutCourse(historycutcourse,row)">
                <mat-icon>apps</mat-icon>
                ประวัติการตัดคอร์ส
              </button>
            </mat-menu>
          </div>
          <div *ngIf="row.saleCount == row.saleCutCount || row.saleStatus == 'I'">
            <button mat-flat-button class=" tw-text-white tw-ml-1 tw-bg-gray-500"
              (click)="openModalHistoryCutCourse(historycutcourse,row)">
              <mat-icon>apps</mat-icon>
              ประวัติการตัดคอร์ส
            </button>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<!--Modal เพิ่มข้อมูลการเข้าใช้บริการ-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">เพิ่มข้อมูลการใช้บริการ</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="tw-flex tw-flex-wrap" [formGroup]="saleForm">
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>เลขเอกสาร</mat-label>
        <input #postalCode id="saleNumber" name="saleNumber" [formControlName]="'saleNumber'" matInput>
        <mat-error *ngIf="saleForm.get('saleNumber').hasError('required')">
          <div class="box-error">
            กรุณาระบุเลขเอกสาร
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>ราคารวม</mat-label>
        <input type="number" matInput id="saleBalance" name="saleBalance" [formControlName]="'saleBalance'">
        <mat-error *ngIf="saleForm.get('saleBalance').hasError('required')">
          <div class="box-error">
            กรุณาระบุยอดราคารวม
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="tw-w-1/3 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>ยอดรับชำระ</mat-label>
        <input type="number" matInput id="salePayment" name="salePayment" [formControlName]="'salePayment'">
        <mat-error *ngIf="saleForm.get('salePayment').hasError('required')">
          <div class="box-error">
            กรุณาระบุยอดรับชำระ
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="tw-w-1/3 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>ยอดค้างชำระ</mat-label>
        <input type="number" matInput id="saleOverdue" name="saleOverdue" [formControlName]="'saleOverdue'">
        <mat-error *ngIf="saleForm.get('saleOverdue').hasError('required')">
          <div class="box-error">
            กรุณาระบุยอดค้างชำระ
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="tw-w-1/3 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>วันที่เข้าใช้บริการ</mat-label>
        <input [formControlName]="'saleDate'" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <mat-error *ngIf="saleForm.get('saleDate').hasError('required')">
          <div class="box-error">
            กรุณาระบุวันที่เข้าใช้บริการ
          </div>
        </mat-error>
      </mat-form-field>

    </div>

    <mat-form-field class="tw-w-full tw-px-2 tw-mb-3" [formGroup]="saleEmployeeForm" appearance="outline">
      <mat-label>ผู้ปรึกษา</mat-label>
      <mat-select [formControlName]="'empId'" [ngModel]="sales" multiple>
        <mat-option *ngFor="let employee of (employees$ | async)"
          [value]="employee.empId">{{employee.empFullname}}</mat-option>
      </mat-select>
      <mat-error *ngIf="saleEmployeeForm.get('empId').hasError('required')">
        <div class="box-error">
          กรุณาเลือกผู้ปรึกษา
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="tw-px-2 example-full-width tw-w-full" appearance="outline" [formGroup]="saleForm">
      <mat-label>รายละเอียด</mat-label>
      <textarea matInput placeholder="กรอกรายละเอียดการเข้าใช้บริการ" [formControlName]="'saleDetail'"></textarea>
    </mat-form-field>

    <div class="tw-flex tw-flex-row tw-items-baseline">
      <mat-form-field class="tw-w-[40%] tw-p-3 tw-mb-3" appearance="outline">
        <mat-label>รายการสินค้า/บริการ</mat-label>
        <mat-select [ngModel]="Products" #newUrl>
          <mat-option *ngFor="let item of (coures$ | async)" [value]="item.courseId">
            {{item.courseNameTh || item.courseNameEng }} ({{item.courseCode}})
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="saleProductForm.get('courseId').hasError('required')">
          <div class="box-error">
            กรุณาระบุสินค้า/บริการ
          </div>
        </mat-error> -->
      </mat-form-field>
      <mat-form-field class="tw-w-[40%] tw-p-3 tw-mb-3" appearance="outline">
        <mat-label>จำนวนครั้ง</mat-label>
        <input type="number" [ngModel]="Counts" matInput #newUrl2>
        <!-- <mat-error *ngIf="saleForm.get('saleCount').hasError('required')">
          <div class="box-error">
            กรุณาระบุจำนวนครั้ง
          </div>
        </mat-error> -->
      </mat-form-field>
      <div class="tw-w-[20%]">
        <button matSuffix mat-raised-button color="primary"
          (click)="addURL(newUrl.value,newUrl2.value);">เพิ่มคอร์ส</button>
      </div>
    </div>
    <div *ngFor="let item of this.pros; let i = index" class="flex tw-flex-row">
      <mat-form-field class="tw-w-[45%] tw-p-3 tw-mb-3" appearance="outline">
        <mat-label>สินค้าและบริการ</mat-label>
        <!-- <mat-label>สินค้าและบริการ : {{i+1}}</mat-label> -->
        <input type="text" value="{{item.courseNameTh}}" matInput />

      </mat-form-field>
      <mat-form-field class="tw-w-[45%] tw-p-3 tw-mb-3" appearance="outline">
        <mat-label>จำนวนครั้ง</mat-label>
        <!-- <mat-label>จำนวนครั้ง : {{i+1}}</mat-label> -->
        <input type="text" value="{{item?.saleCount}}" matInput />
      </mat-form-field>

      <button mat-raised-button color="warn" class="tw-w-[10%]" (click)="removeURL(i)">ลบ</button>

    </div>
    <div *ngFor="let item of urlData; let i = index" class="tw-flex tw-flex-row tw-items-baseline">
      <mat-form-field class="tw-w-[45%] tw-p-3 tw-mb-3" appearance="outline">
        <mat-label>สินค้าและบริการ</mat-label>
        <!-- <mat-label>สินค้าและบริการ : {{i+1}}</mat-label> -->
        <input type="text" value="{{getNameCourse(item?.courseId)}}" [disabled]="isDisabled[i]"
          [textContent]="textValues[i]" matInput />

      </mat-form-field>
      <mat-form-field class="tw-w-[45%] tw-p-3 tw-mb-3" appearance="outline">
        <mat-label>จำนวนครั้ง</mat-label>
        <!-- <mat-label>จำนวนครั้ง : {{i+1}}</mat-label> -->
        <input type="text" value="{{item?.saleCount}}" [disabled]="isDisabled[i]" [textContent]="textValues2[i]"
          matInput />
      </mat-form-field>

      <button mat-raised-button color="warn" class="tw-w-[10%]" (click)="removeURL(i)">ลบ</button>

    </div>

    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="saveSale()" [disabled]="!saleForm.valid">บันทึก</button>
      <button mat-raised-button color="warn" (click)="ModalList.hide()">ยกเลิก</button>
    </div>
  </div>
</ng-template>

<!--Modal ตัดคอร์ส-->
<ng-template #cutcourse>
  <div class="modal-header">
    <h4 class="modal-title pull-left">บันทึกจำนวนครั้งเข้าใช้บริการ</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <form [formGroup]="saleCutForm" novalidate>
    <div class="modal-body">
      <div class="tw-flex tw-flex-wrap">
        <mat-form-field class="tw-w-1/3 tw-px-2 tw-mb-3" appearance="outline">
          <mat-label>ชื่อคอร์ส</mat-label>
          <input class="tw-text-black tw-cursor-no-drop" [formControlName]="'saleCutCourse'" matInput>
        </mat-form-field>
        <mat-form-field class="tw-w-1/3 tw-px-2 tw-mb-3" appearance="outline">
          <mat-label>จำนวนครั้ง</mat-label>
          <input class="tw-text-black tw-cursor-no-drop" [formControlName]="'saleCutCount'" matInput>
        </mat-form-field>
        <mat-form-field class="tw-w-1/3 tw-px-2 tw-mb-3" appearance="outline">
          <mat-label>วันที่เข้าใช้บริการ</mat-label>
          <input [formControlName]="'saleCutDate'" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
          <mat-error *ngIf="saleCutForm.get('saleCutDate').hasError('required')">
            <div class="box-error">
              กรุณาระบุวันที่เข้าใช้บริการ
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
          <mat-label>วิตามิน</mat-label>
          <input type="text" matInput [formControlName]="'saleCutVitamin'">
          <mat-error *ngIf="saleCutForm.get('saleCutVitamin').hasError('required')">
            <div class="box-error">
              กรุณาระบุวิตามิน
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
          <mat-label>มาร์ค</mat-label>
          <input type="text" matInput [formControlName]="'saleCutMark'">
          <mat-error *ngIf="saleCutForm.get('saleCutMark').hasError('required')">
            <div class="box-error">
              กรุณาระบุมาร์ค
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
          <mat-label>พนักงานนวดหน้า</mat-label>

          <mat-select [formControlName]="'saleCutTherapist'">
            <ng-container>
              <mat-option value="0">-</mat-option>
              <div *ngFor="let item of (employees$ | async)">
                <mat-option *ngIf="item.empPosition == 3" [value]="item.empId">
                  {{item.empFullname}}
                </mat-option>
              </div>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="saleCutForm.get('saleCutTherapist').hasError('required')">
            <div class="box-error">
              กรุณาระบุพนักงานนวดหน้า
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
          <mat-label>หมอ</mat-label>
          <mat-select [formControlName]="'saleCutDoctor'">
            <ng-container>
              <mat-option value="0">-</mat-option>
              <div *ngFor="let item of (employees$ | async)">
                <mat-option *ngIf="item.empPosition == 7" [value]="item.empId">
                  {{item.empFullname}}
                </mat-option>
              </div>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="saleCutForm.get('saleCutDoctor').hasError('required')">
            <div class="box-error">
              กรุณาระบุหมอ
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="tw-px-2 tw-mb-3 example-full-width tw-w-full" appearance="outline">
          <mat-label>รายละเอียด</mat-label>
          <textarea matInput placeholder="กรอกรายละเอียดการตัดคอร์ส" [formControlName]="'saleCutDetail'"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="saveSaleCut()" [disabled]="!saleCutForm.valid">บันทึก</button>
      <button mat-raised-button color="warn" (click)="ModalList.hide()">ยกเลิก</button>
    </div>
  </form>
</ng-template>

<!--Modal ประวัติการตัดคอร์ส-->
<ng-template #historycutcourse>
  <div class="modal-header">
    <h4 class="modal-title pull-left">ประวัติการตัดคอร์ส</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="10" [columnMode]="ColumnMode.force"
      [footerHeight]="50" [rowHeight]="50" [rows]="rowsCutCourse" [loadingIndicator]="isLoading">
      <ngx-datatable-column name="ครั้งที่" [cellClass]="'cellColumn'" [width]="50" [canAutoResize]="false"
        [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.saleCutCount }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="วันที่เข้าใช้บริการ" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.saleCutDate | dateTHPipe: 'day' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ชื่อคอร์ส" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.saleCutCourse}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="วิตามิน" [cellClass]="'cellColumn'" [width]="70" [canAutoResize]="false"
        [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.saleCutVitamin }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="มาร์คหน้า" [cellClass]="'cellColumn'" [width]="70" [canAutoResize]="false"
        [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.saleCutMark }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="พนักงานนวด" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{getNameEmp(row?.saleCutTherapist)}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="หมอ" [cellClass]="'cellColumn'" [width]="70" [canAutoResize]="false"
        [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.saleCutDoctor}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="รายละเอียด" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <b class="tw-text-red-500">{{row?.saleCutDetail}}</b>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="warn" (click)="ModalList.hide()">ปิด</button>
  </div>
</ng-template>

<!--Modal ชำระเงิน-->
<ng-template #payment>
  <div class="modal-header">
    <h4 class="modal-title pull-left">บันทึกการชำระเงิน</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <form [formGroup]="salePayForm" novalidate>
    <div class="modal-body">
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>เลขที่เอกสาร</mat-label>
        <input class="tw-text-black tw-cursor-no-drop" [formControlName]="'salePayCourse'" matInput>
      </mat-form-field>
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>ยอดรวมทั้งหมด</mat-label>
        <input class="tw-text-black tw-cursor-no-drop" [formControlName]="'salePayBalance'" matInput>
      </mat-form-field>
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>ยอดชำระล่าสุด</mat-label>
        <input class="tw-text-black tw-cursor-no-drop" [formControlName]="'saleLastPaymet'" matInput>
      </mat-form-field>
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>ยอดค้างชำระ</mat-label>
        <input class="tw-text-black tw-cursor-no-drop" [formControlName]="'salePayOver'" matInput>
      </mat-form-field>

      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>วันที่รับชำระเงิน</mat-label>
        <input [formControlName]="'salePayDate'" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <mat-error *ngIf="salePayForm.get('salePayDate').hasError('required')">
          <div class="box-error">
            กรุณาระบุวันที่รับชำระเงิน
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>ชำระเพิ่ม</mat-label>
        <input class="tw-text-black" [formControlName]="'saleExtraPay'" matInput>
        <mat-error *ngIf="salePayForm.get('saleExtraPay').hasError('required')">
          <div class="box-error">
            กรุณาระบุจำนวนชำระเพิ่ม
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="tw-px-2 example-full-width tw-w-full" appearance="outline" [formGroup]="salePayForm">
        <mat-label>รายละเอียด</mat-label>
        <textarea matInput placeholder="กรอกรายละเอียดการชำระเงิน" [formControlName]="'salePayDetail'"></textarea>
      </mat-form-field>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="saveSalePay()" [disabled]="!salePayForm.valid">บันทึก</button>
      <button mat-raised-button color="warn" (click)="ModalList.hide()">ยกเลิก</button>
    </div>
  </form>
</ng-template>

<!--Modal ประวัติการชำระเงิน-->
<ng-template #historypayment>
  <div class="modal-header">
    <h4 class="modal-title pull-left">ประวัติการชำระเงิน</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="this.saleDetail" class="tw-p-3 tw-border-solid">
      <div class="tw-text-center">
        <b class="tw-text-black tw-text-2xl tw-underline tw-mb-2">ชำระเงินครั้งแรก</b>
      </div>
      <div class="tw-flex tw-justify-around">
        <div class="tw-flex-col">
          <p class="tw-m-1 tw-font-semibold tw-text-black tw-text-base">วันที่รับชำระเงิน</p>
          <span>{{ this.saleDetail.saleDate | dateTHPipe: 'day' }}</span>
        </div>
        <div>
          <p class="tw-m-1 tw-font-semibold tw-text-black tw-text-base">เลขที่เอกสาร</p>
          <span>{{this.saleDetail.saleNumber}}</span>
        </div>
        <div>
          <p class="tw-m-1 tw-font-semibold tw-text-black tw-text-base">ยอดชำระ</p>
          <span>{{this.saleDetail.salePayment}}</span>
        </div>
        <div>
          <p class="tw-m-1 tw-font-semibold tw-text-black tw-text-base">ยอดคงเหลือ</p>
          <span>{{this.saleDetail.saleOverdue}}</span>
        </div>
        <div>
          <p class="tw-m-1 tw-font-semibold tw-text-black tw-text-base">รายละเอียด</p>
          <span class="tw-text-red-500 tw-font-semibold">{{this.saleDetail.saleDetail}}</span>
        </div>
      </div>
    </div>
    <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="ColumnMode.force"
      [footerHeight]="50" [rowHeight]="50" [rows]="rowsSalepay" [loadingIndicator]="isLoading">
      <ngx-datatable-column name="วันที่ชำระเงิน" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.salePayDate | dateTHPipe: 'day' }}
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="ชื่อคอร์ส" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.courseNameTh }}
        </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column name="เลขที่เอกสาร" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.salePayCourse }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ชำระเงินล่าสุด" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.saleExtraPay }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="ยอดคงเหลือ" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.salePayOver - row?.saleExtraPay}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="รายละเอียด" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <b class="tw-text-red-500">{{row?.salePayDetail}}</b>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="warn" (click)="ModalList.hide()">ปิด</button>
  </div>
</ng-template>

<!--Modal ยืนยันรหัสผ่านการลบข้อมูลการเข้าใช้บริการ-->
<ng-template #confrimdelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">กรุณาระบุรหัสผ่านของท่าน</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <form [formGroup]="confrimDelete">
    <div class="modal-body">
      <mat-form-field class="tw-w-full tw-px-2" appearance="outline">
        <mat-label>รหัสผ่าน</mat-label>
        <input id="password" name="password" type="password" [formControlName]="'password'"
          placeholder="กรุณาระบุรหัสผ่าน" ngModel="" matInput>
        <mat-error *ngIf="confrimDelete.get('password').hasError('required')">
          <div class="box-error">
            กรุณาระบุรหัสผ่าน
          </div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="deleteConfrim()"
        [disabled]="!confrimDelete.valid">ยืนยันรหัสผ่าน</button>
      <button mat-raised-button color="warn" (click)="ModalList.hide()">ยกเลิก</button>
    </div>
  </form>
</ng-template>

<!--Modal ยืนยันรหัสผ่านการลบข้อมูลการเข้าใช้บริการ-->
<ng-template #cutdown>
  <div class="modal-header">
    <h4 class="modal-title pull-left">กรุณาระบุรหัสผ่านของท่าน</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <form [formGroup]="saleForm">
    <div class="modal-body">
      <mat-form-field class="tw-w-full tw-px-2" appearance="outline">
        <mat-label>ระบุเหตุผลที่ต้องการคัสดาวน์</mat-label>
        <textarea matInput placeholder="กรอกรายละเอียดการเข้าใช้บริการ"
          [formControlName]="'saleCutDownDetail'"></textarea>
        <mat-error *ngIf="saleForm.get('saleCutDownDetail').hasError('required')">
          <div class="box-error">
            กรุณาระบุเหตุผลที่ต้องการคัสดาวน์
          </div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="cutDown()" >ยืนยันการคัสดาวน์</button>
      <button mat-raised-button color="warn" (click)="ModalList.hide()">ยกเลิก</button>
    </div>
  </form>
</ng-template>