<div class="tw-w-full tw-bg-white tw-p-4">
  <div class="tw-container">
    <div class="tw-flex">
      <span class="tw-text-2xl tw-font-bold tw-text-[#454545] tw-my-5">ข้อมูลการใช้บริการ</span>
    </div>
    <div class="tw-flex tw-justify-between tw-items-center">
      <button
        class="btn tw-px-3 tw-py-2 tw-m-0 tw-rounded-md tw-w-40 tw-border-0 tw-bg-green-500 tw-text-white tw-font-normal tw-select-none"
        (click)="openModal(template)">
        <i class="fa-solid fa-user-plus"></i>เพิ่มข้อมูล
      </button>
      <!-- <mat-form-field class="example-full-width tw-flex tw-flex-row" appearance="outline">
        <mat-label>ค้นหาข้อมูลลูกค้า</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input type="search"  class="tw-text-xs" placeholder="ค้นหาเลขสมาชิกและชื่อลูกค้า" matInput>
      </mat-form-field> -->
    </div>
  </div>
</div>
<div class="wrap-body">
  <div class="tw-grid tw-grid-cols-2">
    <div class="card tw-p-4 tw-mx-1">
      <label class="tw-my-1 tw-text-lg tw-font-bold" style="border-bottom: 1px solid #e2e2e2;">ข้อมูลสมาชิก</label>
      <div class="tw-flex tw-flex-row tw-justify-evenly tw-my-2">
        <div class="tw-mx-2">
          <label class="tw-font-semibold">ชื่อ :</label>
          <!-- <span class="tw-mx-1 tw-text-base">{{this.customer.cus_full_name}}</span> -->
        </div>
        <div class="tw-mx-2">
          <label class="tw-font-semibold">ชื่อเล่น :</label>
          <!-- <span class="tw-mx-1 tw-text-base">{{this.customer.cus_nick_name}}</span> -->
        </div>
        <div class="tw-mx-2">
          <label class="tw-font-semibold">วันเกิด :</label>
          <!-- <span class="tw-mx-1 tw-text-base">{{ this.customer.cus_birthday | dateTHPipe: 'day' }}</span> -->
        </div>
      </div>
    </div>
    <div class="card tw-p-4 tw-mx-1">
      <label class="tw-my-1 tw-text-lg tw-font-bold"
        style="border-bottom: 1px solid #e2e2e2;">ประวัติโรคประจำตัวและการแพ้ยา</label>
      <div class="tw-flex tw-flex-row tw-justify-evenly tw-my-2">
        <div class="tw-mx-2">
          <label class="tw-font-semibold">โรคประจำตัว :</label>
          <!-- <span class="tw-mx-1 tw-text-base">{{this.customer.congenital_disease}}</span> -->
        </div>
        <div class="tw-mx-2">
          <label class="tw-font-semibold">ประวัติแพ้ยา :</label>
          <!-- <span class="tw-mx-1 tw-text-base">{{this.customer.drug_allergy}}</span> -->
        </div>
      </div>
    </div>
  </div>
  <ngx-datatable #mydatatable class="bootstrap" [headerHeight]="50" [limit]="5" [columnMode]="ColumnMode.force"
    [footerHeight]="50" rowHeight="auto" [rows]="rows">
    <ngx-datatable-column name="#" [canAutoResize]="false" [sortable]="false" [width]="50" [cellClass]="'cellColumn'">
      <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
        {{ rowIndex + 1 }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="เลขสมาชิก" [canAutoResize]="false" [width]="100" [cellClass]="'cellColumn'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row?.sale_number}}
      </ng-template>

    </ngx-datatable-column>
    <ngx-datatable-column name="ที่ปรึกษา" [cellClass]="'cellColumn'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <!-- <b> {{getCategoryName(row.categories)}} </b> -->
      </ng-template>

    </ngx-datatable-column>
    <ngx-datatable-column name="ชื่อสินค้าและบริการ" [cellClass]="'cellColumn'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{getNameProduct(row?.sale_product)}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="จำนวนครั้ง" [canAutoResize]="false" [sortable]="false" [width]="100"
      [cellClass]="'cellColumn'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.sale_count }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ราคารวม" [sortable]="false" [cellClass]="'cellColumn'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.sale_pay_balance }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ชำระเงินแล้ว" [sortable]="false" [cellClass]="'cellColumn'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.sale_pay }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ยอดคงเหลือ" [sortable]="false" [cellClass]="'cellColumn'">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.sale_overdue }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="" [width]="120" [canAutoResize]="false" [sortable]="false" [cellClass]="'cellColumn'">
      <ng-template class="text-center" let-row="row" ngx-datatable-cell-template>
        <button class="btn btn-views" routerLink="../history/{{ row.sale_id }}">ตัดคอร์ส</button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="" [width]="120" [canAutoResize]="false" [sortable]="false" [cellClass]="'cellColumn'">
      <ng-template class="text-center" let-row="row" ngx-datatable-cell-template>
        <a>
          <button class="btn btn-edit" (click)="openModal(template, row)">แก้ไข</button>
        </a>
      </ng-template>
    </ngx-datatable-column>
    <!-- <ngx-datatable-column name="" [width]="70" [canAutoResize]="false" [sortable]="false" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-delete" (click)="delete(row)">ลบ</button>
        </ng-template>
      </ngx-datatable-column> -->
  </ngx-datatable>


</div>


<!--Modal-->
<ng-template #template>
  <div class="modal-header">
    <!-- <h4 class="modal-title pull-left" *ngIf="this.Status_cus == false">เพิ่มข้อมูลการใช้บริการ</h4>
    <h4 class="modal-title pull-left" *ngIf="this.Status_cus == true">แก้ไขข้อมูลการใช้บริการ</h4> -->
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="tw-flex tw-flex-wrap" [formGroup]="saleForm">
      <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>เลขสมาชิก</mat-label>
        <input #postalCode maxlength="5" id="sale_number" name="sale_number" [formControlName]="'sale_number'" matInput>
        <mat-error *ngIf="saleForm.get('sale_number').hasError('required')">
          <div class="box-error">
            กรุณากรอกเลขสมาชิก
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>รายการสินค้า/บริการ</mat-label>
        <mat-select [formControlName]="'sale_product'" id="sale_product" name="sale_product">
          <mat-option *ngFor="let item of (coures$ | async)" [value]="item.course_id">
            {{item.course_name_th || item.course_name_eng }} ({{item.course_code}})
          </mat-option>
        </mat-select>
        <mat-error *ngIf="saleForm.get('sale_product').hasError('required')">
          <div class="box-error">
            กรุณากรอกสินค้า/บริการ
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>จำนวนครั้ง</mat-label>
        <input type="number" matInput id="sale_count" name="sale_count" [formControlName]="'sale_count'">
        <mat-error *ngIf="saleForm.get('sale_count').hasError('required')">
          <div class="box-error">
            กรุณากรอกจำนวนครั้ง
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>ราคารวม</mat-label>
        <input type="number" matInput id="sale_pay_balance" name="sale_pay_balance"
          [formControlName]="'sale_pay_balance'">
        <mat-error *ngIf="saleForm.get('sale_pay_balance').hasError('required')">
          <div class="box-error">
            กรุณากรอกยอดราคารวม
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>ชำระแล้ว</mat-label>
        <input type="number" matInput id="sale_pay" name="sale_pay" [formControlName]="'sale_pay'">
        <mat-error *ngIf="saleForm.get('sale_pay').hasError('required')">
          <div class="box-error">
            กรุณากรอกยอดชำระแล้ว
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>ค้างชำระ</mat-label>
        <input type="number" matInput id="sale_overdue" name="sale_overdue" [formControlName]="'sale_overdue'">
        <mat-error *ngIf="saleForm.get('sale_overdue').hasError('required')">
          <div class="box-error">
            กรุณากรอกยอดค้างชำระ
          </div>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field [formGroup]="saleEmployeeForm" class="tw-w-3/6 tw-px-2 tw-mb-3" appearance="outline">
      <mat-label>รายการสินค้า/บริการ</mat-label>
      <mat-select [formControlName]="'emp_id'" [(ngModel)]="emp_detail" id="emp_id" name="emp_id" multiple>
        <mat-option *ngFor="let item of (employes$ | async)" [value]="item.emp_id">
          {{item.emp_fullname}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="saleEmployeeForm.get('emp_id').hasError('required')">
        <div class="box-error">
          กรุณาเลือกประเภทข้อมูล
        </div>
      </mat-error>
    </mat-form-field>


    <div class="modal-footer">
      <button class="btn btn-save" type="submit" (click)="save()">บันทึก</button>
      <a class="btn btn-cancel layout" (click)="ModalList.hide()">ปิด</a>
    </div>
  </div>

</ng-template>