<div class="tw-w-full tw-bg-white tw-p-4">
  <div class="tw-container">
    <div class="tw-flex">
      <span class="tw-text-2xl tw-font-bold tw-text-[#454545] tw-my-5">ข้อมูลการใช้บริการ</span>
    </div>
    <div class="tw-flex tw-justify-between tw-items-center">
      <button
        class="btn tw-px-3 tw-py-2 tw-m-0 tw-rounded-md tw-w-40 tw-border-0 tw-bg-green-500 tw-text-white tw-font-normal tw-select-none"
        (click)="openModal(template)">
        <i class="fa-solid fa-user-plus"></i>ข้อมูลการใช้บริการ
      </button>
      <!-- <mat-form-field class="example-full-width tw-flex tw-flex-row" appearance="outline">
        <mat-label>ค้นหาข้อมูลลูกค้า</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input type="search"  class="tw-text-xs" placeholder="ค้นหาเลขเอกสารและชื่อลูกค้า" matInput>
      </mat-form-field> -->
    </div>
  </div>
</div>
<div class="wrap-body">
  <ngx-datatable #myTable class="material expandable" [rows]="rows" [groupRowsBy]="'saleNumber'"
    [columnMode]="ColumnMode.force" [headerHeight]="60" [footerHeight]="60" [rowHeight]="60" [limit]="4"
    [groupExpansionDefault]="true">
    <ngx-datatable-group-header [rowHeight]="70" #myGroupHeader>
      <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
        <div class="tw-flex tw-flex-row tw-items-center tw-p-3">
          <div class="tw-basis-1/4 tw-border-r-2">
            <div class="tw-flex tw-items-center tw-mb-1">
              <b>เลขที่เอกสาร : {{group.value[0].saleNumber}}</b>
              <button
                class="tw-w-1/6 tw-p-1.5 tw-mx-2 tw-flex tw-items-center tw-justify-center tw-rounded-md tw-text-white tw-border-none tw-bg-red-500 hover:tw-bg-red-600"
                (click)="delete(group.value[0])">ลบคอร์ส</button>
            </div>
            <b>พนักงาน : {{group.value[0].empFullname}}</b>
          </div>
          <div class="tw-basis-1/2">
            <div class="tw-flex tw-flex-col">
              <div class="tw-mb-1.5">
                <span class="tw-text-lg tw-font-semibold tw-rounded-md">
                  ราคารวม:
                  {{group.value[0].salePayBalance}}
                </span>
              </div>
              <div class="tw-flex">
                <span class="tw-text-base tw-font-medium tw-mr-1">ยอดชำระล่าสุด: {{group.value[0].salePay}}</span>
                <span class="tw-text-base tw-font-medium tw-ml-1">ยอดคงเหลือล่าสุด:
                  {{group.value[0].saleOverdue}}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-group-header>
    <ngx-datatable-column name="คอร์ส" editable="true" frozenLeft="True" [flexGrow]="3">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
        let-group="group">
        <b>{{row.courseNameTh}} : ({{row?.courseCode}})</b>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="จำนวนทั้งหมด" editable="true" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
        let-group="group">
        <b>จำนวน <b class="tw-text-lg tw-font-bold">{{ row.saleCount }}</b> ครั้ง </b>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ใช้ไปทั้งหมด" editable="true" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
        let-group="group">
        <b>ใช้ไป <b class="tw-text-lg tw-font-bold">{{ row.saleCount }}</b> ครั้ง </b>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="" [sortable]="false" [cellClass]="'cellColumn'" [flexGrow]="3">
      <ng-template class="text-center" let-row="row" ngx-datatable-cell-template>
        <div class="tw-flex">
          <button
            class="tw-mr-2 tw-p-1.5 tw-rounded-md tw-text-white tw-border-none tw-bg-green-500 hover:tw-bg-green-600"
            (click)="openModalPayment(payment,row)">ชำระเงิน</button>
          <button
            class="tw-ml-2 tw-p-1.5 tw-rounded-md tw-text-white tw-border-none tw-bg-blue-500 hover:tw-bg-blue-600"
            (click)="openModalCutCourse(cutcourse,row)">ตัดคอร์ส</button>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <!-- <ngx-datatable-column name="" [sortable]="false" [cellClass]="'cellColumn'">
      <ng-template class="text-center" let-row="row" ngx-datatable-cell-template>
        <button class="tw-p-1.5 tw-rounded-md tw-text-white tw-border-none tw-bg-blue-500 hover:tw-bg-blue-600"
          routerLink="../history/{{row.saleProductId}}">ตัดคอร์ส</button>
      </ng-template>
    </ngx-datatable-column> -->
  </ngx-datatable>
</div>

<!--Modal เพิ่มข้อมูลการเข้าใช้บริการ-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">เพิ่มข้อมูลการใช้บริการ</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="tw-flex tw-flex-wrap" [formGroup]="saleForm">
      <mat-form-field class="tw-w-1/2 tw-px-2" appearance="outline">
        <mat-label>เลขเอกสาร</mat-label>
        <input #postalCode maxlength="5" id="saleNumber" name="saleNumber" [formControlName]="'saleNumber'" matInput>
        <mat-error *ngIf="saleForm.get('saleNumber').hasError('required')">
          <div class="box-error">
            กรุณากรอกเลขเอกสาร
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="tw-w-1/2 tw-px-2" appearance="outline">
        <mat-label>ราคารวม</mat-label>
        <input type="number" matInput id="salePayBalance" name="salePayBalance" [formControlName]="'salePayBalance'">
        <mat-error *ngIf="saleForm.get('salePayBalance').hasError('required')">
          <div class="box-error">
            กรุณากรอกยอดราคารวม
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="tw-w-1/2 tw-px-2" appearance="outline">
        <mat-label>ชำระแล้ว</mat-label>
        <input type="number" matInput id="salePay" name="salePay" [formControlName]="'salePay'">
        <mat-error *ngIf="saleForm.get('salePay').hasError('required')">
          <div class="box-error">
            กรุณากรอกยอดชำระแล้ว
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="tw-w-1/2 tw-px-2" appearance="outline">
        <mat-label>ค้างชำระ</mat-label>
        <input type="number" matInput id="saleOverdue" name="saleOverdue" [formControlName]="'saleOverdue'">
        <mat-error *ngIf="saleForm.get('saleOverdue').hasError('required')">
          <div class="box-error">
            กรุณากรอกยอดค้างชำระ
          </div>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="tw-w-full tw-px-2" [formGroup]="saleEmployeeForm" appearance="outline">
      <mat-label>ผู้ปรึกษา</mat-label>
      <mat-select [formControlName]="'empId'" [ngModel]="sales" multiple>
        <mat-option *ngFor="let employee of (employees$ | async)"
          [value]="employee.empId">{{employee.empFullname}}</mat-option>
      </mat-select>
      <mat-error *ngIf="saleEmployeeForm.get('empId').hasError('required')">
        <div class="box-error">
          กรุณาเลือกผู้ปรึกษา
        </div>
      </mat-error>
    </mat-form-field>

    <div class="tw-w-full tw-px-1 tw-my-3">
      <button matSuffix mat-raised-button color="primary" class="tw-p-3 tw-m-1 tw-h-12 "
        (click)="addURL(newUrl.value,newUrl2.value);">เพิ่มคอร์ส</button>
    </div>
    <mat-form-field class="tw-w-1/2 tw-px-2" appearance="outline">
      <mat-label>รายการสินค้า/บริการ</mat-label>
      <mat-select [ngModel]="Products" #newUrl>
        <mat-option *ngFor="let item of (coures$ | async)" [value]="item.courseId">
          {{item.courseNameTh || item.courseNameEng }} ({{item.courseCode}})
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="saleProductForm.get('courseId').hasError('required')">
        <div class="box-error">
          กรุณากรอกสินค้า/บริการ
        </div>
      </mat-error> -->
    </mat-form-field>
    <mat-form-field class="tw-w-1/2 tw-px-2" appearance="outline">
      <mat-label>จำนวนครั้ง</mat-label>
      <input type="number" [ngModel]="Counts" matInput #newUrl2>
      <!-- <mat-error *ngIf="saleForm.get('saleCount').hasError('required')">
        <div class="box-error">
          กรุณากรอกจำนวนครั้ง
        </div>
      </mat-error> -->
    </mat-form-field>
    <div *ngFor="let item of this.pros; let i = index" class="flex tw-flex-row">
      <mat-form-field class="tw-w-[45%] tw-p-3" appearance="outline">
        <mat-label>สินค้าและบริการ</mat-label>
        <!-- <mat-label>สินค้าและบริการ : {{i+1}}</mat-label> -->
        <input type="text" value="{{item.courseNameTh}}" matInput />

      </mat-form-field>
      <mat-form-field class="tw-w-[45%] tw-p-3" appearance="outline">
        <mat-label>จำนวนครั้ง</mat-label>
        <!-- <mat-label>จำนวนครั้ง : {{i+1}}</mat-label> -->
        <input type="text" value="{{item.saleCount}}" matInput />
      </mat-form-field>

      <button (click)="removeURL(i)"
        class="tw-w-[10%] tw-bg-red-500 tw-text-white tw-p-3 tw-border-0 tw-font-semibold tw-rounded-lg">Delete</button>
    </div>
    <div *ngFor="let item of urlData; let i = index" class="flex tw-flex-row">
      <mat-form-field class="tw-w-[45%] tw-p-3" appearance="outline">
        <mat-label>สินค้าและบริการ</mat-label>
        <!-- <mat-label>สินค้าและบริการ : {{i+1}}</mat-label> -->
        <input type="text" value="{{item.courseId}}" [disabled]="isDisabled[i]" [textContent]="textValues[i]"
          matInput />

      </mat-form-field>
      <mat-form-field class="tw-w-[45%] tw-p-3" appearance="outline">
        <mat-label>จำนวนครั้ง</mat-label>
        <!-- <mat-label>จำนวนครั้ง : {{i+1}}</mat-label> -->
        <input type="text" value="{{item.saleCount}}" [disabled]="isDisabled[i]" [textContent]="textValues2[i]"
          matInput />
      </mat-form-field>

      <button (click)="removeURL(i)"
        class="tw-w-[10%] tw-bg-red-500 tw-text-white tw-p-3 tw-border-0 tw-font-semibold tw-rounded-lg">Delete</button>
    </div>

    <div class="modal-footer">
      <button
        class="tw-w-[12%] tw-p-3 tw-flex tw-items-center tw-justify-center tw-rounded-md tw-text-white tw-border-none tw-bg-green-500 hover:tw-bg-green-600"
        type="submit" (click)="saveSale()">บันทึก</button>
      <a class="tw-w-[12%] tw-p-3 tw-flex tw-items-center tw-justify-center tw-rounded-md tw-text-white tw-border-none tw-bg-red-500 hover:tw-bg-red-600"
        (click)="ModalList.hide()">ปิด</a>
    </div>
  </div>
</ng-template>

<!--Modal ตัดคอร์ส-->
<ng-template #cutcourse>
  <div class="modal-header">
    <h4 class="modal-title pull-left">บันทึกจำนวนครั้งเข้าใช้บริการ</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="tw-flex tw-flex-wrap" [formGroup]="cutSaleForm">
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>ชื่อคอร์ส</mat-label>
        <input class="tw-text-black tw-cursor-no-drop" [formControlName]="'saleCutCourse'" matInput>
      </mat-form-field>
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>จำนวนครั้ง</mat-label>
        <input class="tw-text-black tw-cursor-no-drop" [formControlName]="'saleCutCount'" matInput>
      </mat-form-field>
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>วิตามิน</mat-label>
        <input type="text" matInput [formControlName]="'saleCutVitamin'">
      </mat-form-field>
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>มาร์ค</mat-label>
        <input type="text" matInput [formControlName]="'saleCutMark'">
      </mat-form-field>
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>พนักงานนวดหน้า</mat-label>
        <mat-select [formControlName]="'saleCutTherapist'">
          <ng-container *ngFor="let item of (employees$ | async)">
            <mat-option *ngIf="item.empPosition == 3" [value]="item.empId">
              {{item.empFullname}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>หมอ</mat-label>
        <mat-select [formControlName]="'saleCutDoctor'">
          <mat-option *ngFor="let item of Docter" [value]="item.name">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="tw-px-2 tw-mb-3 example-full-width tw-w-full" appearance="outline">
        <mat-label>รายละเอียด</mat-label>
        <textarea matInput placeholder="กรอกรายละเอียดการตัดคอร์ส"
          [formControlName]="'saleCutDetail'">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="tw-w-[12%] tw-p-3 tw-flex tw-items-center tw-justify-center tw-rounded-md tw-text-white tw-border-none tw-bg-green-500 hover:tw-bg-green-600"
      type="submit" (click)="saveSale()">บันทึก</button>
    <a class="tw-w-[12%] tw-p-3 tw-flex tw-items-center tw-justify-center tw-rounded-md tw-text-white tw-border-none tw-bg-red-500 hover:tw-bg-red-600"
      (click)="ModalList.hide()">ปิด</a>
  </div>

</ng-template>

<!--Modal ชำระเงิน-->
<ng-template #payment>
  <div class="modal-header">
    <h4 class="modal-title pull-left">บันทึกจำนวนครั้งเข้าใช้บริการ</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="tw-flex tw-flex-wrap" [formGroup]="cutSaleForm">
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>ชื่อคอร์ส</mat-label>
        <input class="tw-text-black tw-cursor-no-drop" [formControlName]="'saleCutCourse'" matInput>
      </mat-form-field>
      <mat-form-field class="tw-w-1/2 tw-px-2 tw-mb-3" appearance="outline">
        <mat-label>จำนวนครั้ง</mat-label>
        <input class="tw-text-black tw-cursor-no-drop" [formControlName]="'saleCutCount'" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="tw-w-[12%] tw-p-3 tw-flex tw-items-center tw-justify-center tw-rounded-md tw-text-white tw-border-none tw-bg-green-500 hover:tw-bg-green-600"
      type="submit" (click)="saveSale()">บันทึก</button>
    <a class="tw-w-[12%] tw-p-3 tw-flex tw-items-center tw-justify-center tw-rounded-md tw-text-white tw-border-none tw-bg-red-500 hover:tw-bg-red-600"
      (click)="ModalList.hide()">ปิด</a>
  </div>
</ng-template>