<div class="tw-w-full tw-bg-white tw-p-4">
    <div class="tw-flex">
        <span class="tw-text-3xl tw-font-bold tw-text-[#454545] tw-my-5">ข้อมูลยอดขายทั้งหมดของพนักงาน</span>
    </div>
    <div class="tw-flex tw-justify-between tw-items-center">
        <mat-form-field class="example-full-width tw-flex tw-flex-row" appearance="outline">
            <mat-label>ค้นหาข้อมูลพนักงาน</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <!-- (keyup)='serviceListFilter($event)' -->
            <input type="search" class="tw-text-xs" placeholder="ค้นหาข้อมูลพนักงาน" matInput>
        </mat-form-field>
    </div>
</div>
<div class="wrap-body">
    <div class="container">
        <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="ColumnMode.force"
            [footerHeight]="50" rowHeight="auto" [rows]="rows">
            <ngx-datatable-column name="#" [canAutoResize]="false" [sortable]="false" [width]="50"
                [cellClass]="'cellColumn'">
                <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{ rowIndex + 1 }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="เลขที่เอกสาร" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.saleNumber}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ชื่อพนักงาน" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.empFullname}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ยอดรวม" [cellClass]="'cellColumn'" [canAutoResize]="false" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.saleBalance}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ชื่อสินค้าและบริการ" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.courseCode}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ชื่อลูกค้า" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.cusFullName}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>