<div class="tw-flex tw-flex-col tw-flex-auto tw-items-center sm:tw-justify-center tw-min-w-0">
    <div class="tw-w-full sm:tw-w-auto tw-py-8 tw-px-4 sm:tw-p-10 sm:tw-rounded-2xl sm:tw-shadow sm:bg-card">
        <div class="tw-w-full max-w-80 sm:tw-w-80 tw-mx-auto sm:tw-mx-0">

            <!-- Logo -->
            <div class="tw-flex tw-justify-items-center tw-justify-center">
                <img class="tw-w-48" src="../../../../../assets/basic/LogoZiimme-W.png">
            </div>

            <!-- Title -->
            <div class="tw-mt-8 tw-text-3xl tw-font-extrabold tw-tracking-tight tw-leading-tight tw-text-center">คุณได้ออกจากระบบแล้ว!</div>
            <div class="tw-flex tw-justify-center tw-mt-0.5 tw-font-medium">
                <!-- Redirect countdown -->
                <ng-container *ngIf="countdown > 0">
                    กำลังไปหน้าเข้าสู่ระบบในอีก {{ countdown }} วินาที
                </ng-container>

                <!-- Redirect message -->
                <ng-container *ngIf="countdown === 0">
                    ตอนนี้คุณกำลังถูกเปลี่ยนเส้นทาง!
                </ng-container>
            </div>

            <!-- Form footer -->
            <div class="tw-mt-8 text-md tw-font-medium text-secondary tw-text-center">
                <span>ไปที่หน้า</span>
                <a
                    class="tw-ml-1 text-primary-500 hover:tw-underline"
                    [routerLink]="['/sign-in']">เข้าสู่ระบบ
                </a>
            </div>
        </div>
    </div>
</div>
