<div class="bg-container">
    <div class="row">
        <div class="col-8">
            <span class="font-list">รายการขายพนักงานทั้งหมด</span>
        </div>
        <!-- <div class="col-4">
        <button class="btn btn-primary m-0" (click)="openModal(template)">เพิ่มข้อมูล</button>
      </div> -->
    </div>
</div>

<div class="wrap-body">
    <div class="container">
        <ngx-datatable #mydatatable class="bootstrap" [headerHeight]="50" [limit]="5" [columnMode]="ColumnMode.force"
            [footerHeight]="50" rowHeight="auto" [rows]="rows">
            <ngx-datatable-column name="#" [canAutoResize]="false" [sortable]="false" [width]="50"
                [cellClass]="'cellColumn'">
                <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    {{ rowIndex + 1 }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="เลขที่เอกสาร" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.saleNumber}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ชื่อลูกค้า" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.cusFullName}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ชื่อสินค้าและบริการ" [cellClass]="'cellColumn'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.courseCode}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ยอดรวม" [cellClass]="'cellColumn'" [canAutoResize]="false" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.salePayBalance}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>