<div class="tw-w-full tw-bg-white tw-p-4">
  <div class="tw-flex">
    <span class="tw-text-3xl tw-font-bold tw-text-[#454545] tw-my-5">รายชื่อลูกค้า ({{this.count}})</span>
  </div>
  <div class="tw-flex tw-justify-between tw-items-center">
    <button
      class="btn tw-px-3 tw-py-2 tw-m-0 tw-rounded-md tw-w-40 tw-border-0 tw-bg-green-500 tw-text-white tw-font-normal tw-select-none"
      [routerLink]="['./new']">
      <i class="fa-solid fa-user-plus"></i>เพิ่มข้อมูล
    </button>
    <mat-form-field class="example-full-width tw-flex tw-flex-row" appearance="outline">
      <mat-label>ค้นหาข้อมูลลูกค้า</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input type="search" [formControl]="searchInputControl" class="tw-text-xs"
        placeholder="ค้นหาเลขสมาชิกและชื่อลูกค้า" matInput>
    </mat-form-field>
  </div>
</div>
<div class="wrap-body">
  <div class="container">
    <ngx-datatable #mydatatable class="bootstrap" [headerHeight]="50" [limit]="10" [columnMode]="ColumnMode.force"
      [footerHeight]="50" [rowHeight]="50" [rows]="basicRows" [loadingIndicator]="isLoading" [externalPaging]="true"
      [count]="customerPagination.length" [offset]="customerPagination.page" [limit]="customerPagination.size"
      (page)="setPage($event)" (sort)="sorting($event)">
      <ngx-datatable-column name="#" [canAutoResize]="false" [sortable]="false" [width]="50" [cellClass]="'cellColumn'">
        <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
          {{ rowIndex + 1 }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="รหัสบัตรสมาชิก" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <!-- {{ row.cusMember }} -->
          <div [innerHTML]="highLight(row.cusMember)">{{
            row.cusMember }}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="ชื่อ-นามสกุล" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.cusFullName }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="เบอร์โทรศัพท์" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.cusTelephone }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="วันเกิด" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.cusBirthday | dateTHPipe: 'day' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="วันที่เพิ่มข้อมูล" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.createdTime | dateTHPipe: 'day' }}<br />
          <!-- <b>โดย : </b>{{ row.createdBy }} -->
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="" [width]="80" [canAutoResize]="false" [sortable]="false" [cellClass]="'cellColumn'">
        <ng-template class="text-center" let-row="row" ngx-datatable-cell-template>
          <a class="btn btn-views" routerLink="./views/{{ row?.cusId || null}}">ประวัติ</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="" [width]="80" [canAutoResize]="false" [sortable]="false" [cellClass]="'cellColumn'">
        <ng-template class="text-center" let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-edit" routerLink="./{{ row.cusId }}">แก้ไข</button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="" [width]="80" [canAutoResize]="false" [sortable]="false" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-delete" (click)="openModalConfrimDelete(confrimdelete, row)">ลบ</button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>

<!--Modal ยืนยันรหัสผ่านการลบข้อมูลการเข้าใช้บริการ-->
<ng-template #confrimdelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">กรุณาระบุรหัสผ่านของท่าน</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="ModalList.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="tw-flex tw-flex-wrap" [formGroup]="confrimDelete">
      <mat-form-field class="tw-w-full tw-px-2" appearance="outline">
        <mat-label>รหัสผ่าน</mat-label>
        <input id="password" name="password" [formControlName]="'password'" placeholder="กรุณาระบุรหัสผ่าน" ngModel=""
          matInput>
        <mat-error *ngIf="confrimDelete.get('password').hasError('required')">
          <div class="box-error">
            กรุณาระบุรหัสผ่าน
          </div>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="tw-w-auto tw-p-3 tw-flex tw-items-center tw-justify-center tw-rounded-md tw-text-white tw-border-none tw-bg-green-500 hover:tw-bg-green-600"
      type="submit" (click)="deleteConfrim()">ยืนยันรหัสผ่าน</button>
    <a class="tw-w-auto tw-p-3 tw-flex tw-items-center tw-justify-center tw-rounded-md tw-text-white tw-border-none tw-bg-red-500 hover:tw-bg-red-600"
      (click)="ModalList.hide()">ปิด</a>
  </div>
</ng-template>