<div class="tw-w-full tw-bg-white tw-p-4">
  <div class="tw-flex">
    <span class="tw-text-3xl tw-font-bold tw-text-[#454545] tw-my-5">รายชื่อลูกค้า ({{this.count}})</span>
  </div>
  <div class="tw-flex tw-justify-between tw-items-center">
    <button
      class="btn tw-px-3 tw-py-2 tw-m-0 tw-rounded-md tw-w-40 tw-border-0 tw-bg-green-500 tw-text-white tw-font-normal tw-select-none"
      [routerLink]="['./new']">
      <i class="fa-solid fa-user-plus"></i>เพิ่มข้อมูล
    </button>
    <mat-form-field class="example-full-width tw-flex tw-flex-row" appearance="outline">
      <mat-label>ค้นหาข้อมูลลูกค้า</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input type="search" (keyup)='serviceListFilter($event)' class="tw-text-xs"
        placeholder="ค้นหาเลขสมาชิกและชื่อลูกค้า" matInput>
    </mat-form-field>
  </div>
</div>
<div class="wrap-body">
  <div class="container">
    <ngx-datatable #table class="bootstrap" [headerHeight]="50" [limit]="5" [columnMode]="ColumnMode.force"
      [footerHeight]="50" rowHeight="auto" [rows]="basicRows" [sorts]="[{prop:
        'cus_member,cus_full_name,cus_telephone,cus_birthday,createdTime',dir:
        'desc'}]">
      <ngx-datatable-column name="#" [canAutoResize]="false" [sortable]="false" [width]="50" [cellClass]="'cellColumn'">
        <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
          {{ rowIndex + 1 }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="รหัสบัตรสมาชิก" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <!-- {{ row.cus_member }} -->
          <div [innerHTML]="highLight(row.cus_member)">{{
            row.cus_member }}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="ชื่อ-นามสกุล" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.cus_full_name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="เบอร์โทรศัพท์" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.cus_telephone }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="วันเกิด"  [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.cus_birthday | dateTHPipe: 'day' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="วันที่เพิ่มข้อมูล" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.createdTime | dateTHPipe: 'day' }}<br />
          <!-- <b>โดย : </b>{{ row.createdBy }} -->
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="" [width]="80" [canAutoResize]="false" [sortable]="false" [cellClass]="'cellColumn'">
        <ng-template class="text-center" let-row="row" ngx-datatable-cell-template>
          <a class="btn btn-views" routerLink="./views/{{ row?.cus_id }}">ประวัติ</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="" [width]="80" [canAutoResize]="false" [sortable]="false" [cellClass]="'cellColumn'">
        <ng-template class="text-center" let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-edit" routerLink="./{{ row.cus_id }}">แก้ไข</button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="" [width]="80" [canAutoResize]="false" [sortable]="false" [cellClass]="'cellColumn'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-delete" (click)="delete(row)">ลบ</button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>