/* == COLOR PALETTE ==
* color code by theme design
*/

// Theme
$main: #143563;
$main2: #002F87;
$main-light: #567DF4;
$main-light2: #0590FF;
// $main-bright: #EAF6FF;
$main-bright: #E1F2FF;
$main-bright2: #D9EFFC;
$main-grey: #566789;
$warning: #FCB034;
$warning-dark: #F29339;
$warning-light: #F29339;
$warning-bright: #FFF8E3;
$second:#FF7B00;
$second-dark: #FD6540;
$success: #007F00;
$success-bright: #CDFFCD;
$denger: #F45656;
$denger-dark: #DF573B;
$denger-light: #ED947F;
$denger-bright: #FFCABD;
// Social
$facebook: #5D7DB3;
$youtube: #DF573B;
$twitter: #1DA1F2;
$feed: #DD8A47;
// Black, White and Grey
$black: #000000;
$white: #ffffff;
$grey1: #f4f4f4;
$grey2: #E6E6E6;
$grey3: #d6d9db;
$grey4: #e3e6e0;
$grey5: #E3E3E3;
$grey6: #C4C4C4;
$grey7: #A39C9C;
$grey8: #8e8e8e;
$grey9: #666666;
$grey10: #545757;
$grey11: #464646;
$grey12: #3D3D3D;
$grey13: #333333;
$grey14: #333333;
$grey15: #F9F9F9;
$grey16: #E6E6E6;
$grey17: #F6F7F9;